<%- include ("adminHead.ejs") %>

<div class="container">
    <h2>Product Stock</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
            <tr>
                <td><%= product._id %></td>
                <td><%= product.name %></td>
                <td><%= product.stock %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

</body>
</html>
